@import "responsive.css";


html , body {
    margin: 0;
    padding: 0;
    font-family: "Segoe Script";

}
.barre {

    font-weight: bold;
    font-size: 1.5rem;
}
nav  li {
   list-style-type: none;
}
h1 ,h2{
    margin-top: 100px;
    padding-top: 200px;
    font-size: 4rem;
    font-weight: 400;
    background-color: rgba(0,0,0,0.1);
    color: darkorange;
}


.image {
    height: 1024px;
    font-weight: bold;
    background-image: url("../image/istockphoto-501653896-1024x1024.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-origin: border-box;
    width: 100vw;
}
.centre{
    display:inline-block;
    color: white;
   text-align: center;


}
p {
    width: 800px;
    color:palevioletred;
    font-size: 2rem;
   background-color: rgba(0,0,0,0.1);
    margin: 0 auto;

}
.liste ul li {
    list-style-type: none;
    font-size: 2rem;
    color: slategrey;
    font-weight: bold;


}
.liste ul {
    font-weight: bold;
    color: white;
}
.liste h3{
    color: black;
    font-weight: 400;
}

table thead th {
    color: black;
    font-weight: bold;
    font-size: 2rem;

}


table tbody td {

    color: slategray;
    font-size: 2rem;

}
