@media (max-width:991.98px){
    h1, h2{
       font-size: 3em;
    }


    p{
        font-size: 1.5em;
        text-align: center;
        width: 400px;
    }

    table thead tr th{
        font-size: 1em;
    }
    table tbody tr td{
        font-size: 1em;
    }
}